@import '../variables/colors';
@import '../variables/fonts';

.aside {
    width: 70%;
    height: 302px;
    position: absolute;
    top: 552px;
    margin-left: 15%;
    background-color: $red-color;
    display: flex;


    &__offert-box {
        width: 34%;
        height: 100%;
        color: #fff;

        &--first {
            position: relative;
            background-image: url('/resources/absolute1.png');
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                background: rgb(225, 0, 36);
                background: linear-gradient(180deg, rgba(225, 0, 36, 1) 20%, rgba(225, 0, 36, 0.7) 100%);
            }
        }

        &--second {
            background-image: url('/resources/absolute2.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            z-index: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                background: rgb(186, 4, 33);
                background: linear-gradient(180deg, rgba(186, 4, 33, 1) 20%, rgba(186, 4, 33, 0.7) 100%);
            }
        }

        &--third {
            background-image: url('/resources/absolute3.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            z-index: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                background: rgb(4, 5, 26);
                background: linear-gradient(180deg, rgba(4, 5, 26, 1) 20%, rgba(4, 5, 26, 0.7) 100%);
            }
        }
    }

    &__content {
        width: 85%;
        height: 65%;
        margin: 5% auto;
    }

    &__date {
        font-size: 16px;
        margin-bottom: 5%;
    }

    &__title {
        font-size: 26px;
        margin-bottom: 8%;
    }

    &__paragraph {
        font-size: 14px;
        line-height: 25px;
    }

    &__btn-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__btn {
        font-size: 14px;
        background: transparent;
        border: none;
        color: #fff;
        margin-right: 5%;
    }

    &__icon-box {
        height: 35px;
        width: 35px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &--last {
            background-color: $red-color;
        }
    }

    &__icon {
        height: 24px;
        width: 24px;
    }
}