.footer {
    width: 100%;

    &__first-puzzle {
        height: 100px;
        display: flex;
    }

    &__first-left {
        width: 50%;
        height: 100%;
        background-color: #04051A;
        display: flex;
        align-items: center;
    }

    &__left-p {
        color: rgb(180, 180, 180);
        font-size: 12px;
        width: 35%;
        margin-left: auto;
        line-height: 30px;
    }

    &__left-p-red {
        color: $red-color;
    }

    &__contact {
        width: 35%;
        padding-left: 5%;
        border-left: 1px rgb(80, 80, 80) solid;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;

        &--first {
            margin-bottom: 2%;
        }
    }

    &__contact-p {
        color: rgb(180, 180, 180);
        font-size: 13px;
        margin-left: 7%;
    }

    &__first-right {
        width: 50%;
        height: 100%;
    }

    &__second {
        width: 100%;
        height: 50px;
        background-color: $red-color;
        display: flex;
        align-items: center;
    }

    &__p {
        margin-right: 15%;
        margin-left: auto;
        color: white;
    }

    &__icon {
        height: 20px;
    }
}