@import '../variables/colors';
@import '../variables/fonts';

.header {
    width: 100%;
    height: 709px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("/resources/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__upper-box {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__logo-box {
        width: 205px;
        height: 221px;
        background-color: $red-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-icon {
        width: 108px;
    }

    &__nav {
        width: 50%;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        padding: .5em 0;
        border-bottom: 1px solid transparent;
        transition: all .3s linear;

        &:hover {
            border-bottom: 1px solid $red-color;
        }

        &--join-us {
            padding: 1em;
            background-color: $red-color;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $red-color;
                border-bottom: 2px solid $red-color;
                background: transparent;
            }
        }
    }

    &__title {
        margin-right: 15%;
        text-align: right;
        color: #fff;
        font-size: 55px;

        &--under {
            font-size: 18px;
            margin-top: 1%;
        }
    }
}