.main {
    width: 100%;

    &__sections {
        width: 100%;

        &--first {
            display: flex;
            justify-content: center;
        }

        &--second {
            height: fit-content;
            display: flex;
            justify-content: center;
            background-image: url('../../resources/magazine.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            z-index: 0;

            &::before {
                content: '';
                display: block;
                position: absolute;
                background-color: rgba(4, 5, 26);
                width: 100%;
                height: 100%;
                opacity: 80%;
                z-index: -1;
            }
        }

        &--third {
            width: 100%;
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    //FIRST MAIN SECTION
    &__offert {
        width: 100%;
        height: 900px;
        background-image: url('../../resources/main_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 0;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background-color: #fff;
            opacity: 90%;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &__desc {
        width: 30%;
        height: 400px;
        margin-top: 15%;
        margin-bottom: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__title-offert {
        font-size: 30px;
    }

    &__paragraph-offert {
        width: 80%;
    }

    &__btn-offert {
        text-decoration: none;
        padding: 1em 3em;
        border: 2px solid $red-color;
        color: black;
        font-weight: 600;
        transition: all .3s linear;

        &:hover {
            background-color: $red-color;
            color: #fff;
        }
    }

    &__visual {
        width: 35%;
        height: 300px;
        margin-top: 15%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__squares {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 5%;
    }

    &__small-sq {
        width: 40%;
        display: flex;
        align-items: center;
    }

    &__small-sq-img {
        margin-right: 5%;
    }

    &__small-sq-p {
        font-size: 13px;
        font-weight: 600;
    }

    &__p-red {
        color: $red-color;
    }

    &__bed-img {
        height: 402px;
    }

    //SECOND MAIN SECTION

    &__abs-offert {
        position: absolute;
        background-color: $red-color;
        width: 35%;
        height: 30%;
        opacity: 80%;
        z-index: 2;
        left: 0;
        bottom: 0;
    }

    &__job-offert {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    &__job-img {
        width: 50%;
    }

    &__find-job-box {
        width: 40%;
        margin-left: 10%;
    }

    &__header {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 15%;
    }

    &__logo-box {
        background-color: $red-color;
        height: 120px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-icon {
        width: 60px;
    }

    &__title-job {
        font-size: 35px;
        text-align: left;
        color: #fff;
    }

    &__paragraph-job {
        color: #fff;
        margin-bottom: 5%;
        line-height: 30px;

        &--under {
            margin-bottom: 15%;
            font-weight: 600;
        }
    }

    &__link {
        width: 100%;
        height: 50px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $red-color;
        transition: all .3s linear;

        &:hover {
            background-color: $red-color;
        }

    }

    &__link-p {
        color: #fff;
        margin-left: 5%;
        font-weight: 600;

        &--last {
            color: #000;
        }
    }

    &__icon-box {
        width: 50px;
        height: 50px;
        background-color: $red-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 30px;
    }

    //THIRD SECTION

    &__shopping {
        width: 30%;
        height: 70%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title-last {
        font-size: 35px;
    }

    &__title-last-red {
        color: $red-color;
    }

    &__paragraph-last {
        margin-top: 5%;
        line-height: 30px;

        &--under {
            font-weight: 600;
            margin-top: 0%;
        }
    }

    &__paragraph-last-red {
        color: $red-color;
    }

    &__box-mate {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    &__p-box {
        padding: .5em 1.5em;
        background-color: #F1F1F1;
        position: relative;
    }

    &__abs-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: $red-color;
        top: 0;
        left: 0;
    }

    &__img-last-box {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(231, 231, 231);
        background: linear-gradient(0deg, rgba(231, 231, 231, 1) 65%, rgba(255, 255, 255, 0) 100%);
    }

}